.app-container {
    height: 100%;
    width: 100%;

    button {
        transition: background-color 0.1s;
    }
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
