//main-colors
$color-purple: #643f82;
$color-purple-active: #8151a8;
$color-yellow: #f6a200;
$color-green: #37ac00;
$color-green-active: #41ca00;
$color-grey: #94a3b8;
$color-light-grey: #cbd5e1;
$color-text-grey: #808080;
$color-white: #ffffff;
$color-black: #000000;
$main-font: 14px;
$main-font-larger: 16px;
$main-font-largest-bold: 20px;
